html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}


.login-container {
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    align-items: center;     /* Verticaal centreren */
    height: 100vh;           /* Hele schermhoogte */
}

.login-box {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 1rem;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 0.7rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #4f46e5;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.login-box button:hover {
    background-color: #3730a3;
}

.login-box p {
    margin-top: 1rem;
    color: #555;
}

.link {
    color: #4f46e5;
    cursor: pointer;
    text-decoration: underline;
}

.error-message {
    color: #b91c1c; /* rood */
    background-color: #fee2e2; /* lichtroze achtergrond */
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
}
